body {
	background-color: #f3ffff;
}
#cover {
	z-index: 99;
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	position: absolute;
}
#poplayer{
	width: 60%;
	margin:120px auto;
	box-shadow: 0px 8px 15px rgba(200,200,200,0.5);
}
#selectInfo {
	font-size: 1.2em;
}
#btns {
	visibility:hidden;
}
.navbar-default{
	background-color: #316d9b;
}
.btn {
	min-width: 100px;
}
.tab-content {
	background-color: #F0F8FF;
}
.navbar-brand {
	font-size: 1.5em;
}
.navbar-inverse {
	background-color: #316d9b;
}
.dropdown-menu {
	background-color: #316d9b;
}
.dropdown li a {
	color: white;
}
#branchs {
	overflow: scroll;
	height: 600px;
}
#dash {
	background: black;
	color: #aacc00;
	min-width: 500px;
	height: 600px;
	overflow: scroll;
}
#dash pre {
	background-color: black;
	color: #aacc00;

}
